@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

body{
  font-family: 'Montserrat','Roboto', sans-serif;
width: 90%;
margin: 0 auto;
background-image: url("images/background.jpg");
background-repeat: no-repeat;
background-size: contain;
}

h1{
  text-align: center;
  font-size: 3em;
}

#blondie {overflow: auto;}

#nav, #feature, #footer {
margin: 5%;}

.ingredients, .preperation, .nutrition {
width: 31.3%;
float: left;
margin: 1%;}

.nutrition {margin-right: 0%;}



#nav, #footer {
background-color: #efefef;
padding: 0.5em 0;}

#feature, .dessert {
height: auto;
margin-bottom: 1em;
background-color: #efefef;}
