@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

body{
  font-family: 'Montserrat','Roboto', sans-serif;
width: 90%;
font-size: 90%;
margin: 0 auto;
line-height: 2em;
background-color: #ffffff;
}

#header{
  display: block;
 margin-left: auto;
 margin-right: auto;
 width: 35%;
}
a.logo{
  height: 300px;
  width: 400px;
  text-indent: -9999px;
  display: inline-block;
  background-image: url("images/sprite.jpg") ;
  background-repeat: no-repeat;

}


a:hover{
  background-position: 0px -250px;

}


img.align-center{
  display: block;
  width: 600px;
  height: 300px;
  margin: 0px auto;
  box-shadow: 5px 5px 5px #777777;
  border-radius: 5px;

}

h1{
  text-align: center;
  font-size: 3em;
}

h4{
  margin-top: 5px;
  text-align: center;
  position: sticky;
  top:0px;
  text-decoration: underline;
}




.ingredients{
width: 30%;
box-shadow: 5px 5px 5px #777777;
border-radius: 10px;
background-color: #f6ffc2;
border-style: dotted;
float: left;
margin: 1%;

}
.preperation{
  float: left;
  margin: 3%;
  overflow: scroll;
  width: 30%;
  box-shadow: 5px 5px 5px #777777;
  border-radius: 10px;
  background-color: #f6ffc2;


}
.nutrition {
  float:left;
  width: 30%;
  box-shadow: 5px 5px 5px #777777;
  border-radius: 10px;
  background-color: #f6ffc2;
}


}

 .dessert {
height: auto;
margin-bottom: 1em;
}

ol,ul{
  height: 360px;
  width: 300px;
}
#form{
  font-weight: bold;
  padding: 6px 12px 6px 12px;
  height:30px;
    margin: 0;
    clear: both;
    width:100%;
    position: relative;
}
input.submit:hover{
  background-color: #f6ffc2;
}
