@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

body{
  font-family: 'Montserrat','Roboto', sans-serif;
width: 90%;
margin: 0 auto;
line-height: 2em;
background-color: #ffffff;
}
img.align-center{
  display: block;
  width: 600px;
  height: 250px;
  margin: 0px auto;
  -moz-box-shadow: 5px 5px 5px #777777;
  -webkit-box-shadow: 5px 5px 5px #777777;
  box-shadow: 5px 5px 5px #777777;
  border-radius: 5px;

}

h1{
  text-align: center;
  font-size: 3em;
}

h4{
  text-align: center;
  text-decoration: underline;
}


#nav, #feature, #footer {
margin: 5%;}

.ingredients, .preperation, .nutrition {
width: 31.3%;
-moz-box-shadow: 5px 5px 5px #777777;
-webkit-box-shadow: 5px 5px 5px #777777;
box-shadow: 5px 5px 5px #777777;
border-radius: 10px;
background-color: #f6ffc2;

float: left;
margin: 1%;

}
.preperation{
  border-style: dotted;


}
.nutrition {margin-right: 0%;}



#nav, #footer {
background-color:
padding: 0.5em 0;}

#feature, .dessert {
height: auto;
margin-bottom: 1em;
